<?xml version="1.0" encoding="utf-8"?>
<manifest package="pl.example.apk"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <permission
      android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
      android:protectionLevel="signature" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />  
   
	<uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application        
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:uiOptions="splitActionBarWhenNarrow"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="OknoGlowne"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
   android:name="com.google.android.gms.version"
   android:value="@integer/google_play_services_version" />
        
        <activity android:name="pl.example.apk.OknoNews"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>
        <activity android:name="OknoLog"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>
        <activity android:name="OknoRejestracja"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>
        <activity android:name="OknoKonto"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>
        <activity android:name="oknoAutora"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>
        <activity android:name="OknoPost"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>   
        <activity android:name="OknoNew"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity> 
        <activity android:name="OknoEdytujProfil"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>   
        
        <meta-data
   			android:name="com.google.android.maps.v2.API_KEY"
   			android:value="AIzaSyBLtYHKEHxktNVNnkCj2ayDMoMWZEYFwGA" />
        <activity android:name="OknoMapa"
            android:configChanges="orientation"
    		android:screenOrientation="portrait">
        </activity>   
        
    </application>

</manifest>
